<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.skinex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.camera2.full" />-->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

<!--    <uses-feature android:name="android.hardware.camera" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skinex"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name="com.android.skinex.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.skinex.activity.VisiterType">

        </activity>
        <activity android:name="com.android.skinex.user_Consulting.UserInfoActivity"></activity>
        <activity android:name="com.android.skinex.user_Consulting.ReturningInfoActivity"></activity>
        <activity android:name="com.android.skinex.activity.SeclectVisiter"></activity>
        <activity android:name=".result_Consulting.ResultInfoActivity">


        </activity>
        <activity android:name=".result_Consulting.GuideActivity"></activity>

        <activity android:name=".camera2Api.CameraX"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".camera2Api.CameraXDetail"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".camera2Api.CameraXReturn"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".result_Consulting.ResultActivity"></activity>

<!--        <activity android:name=".camera2Api.CameraX"-->
<!--            android:label="@string/app_name"-->
<!--            android:screenOrientation="landscape">-->
<!--            &lt;!&ndash; configure this activity to use landscape orientation &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity android:name=".camera2Api.CameraX"-->
<!--            android:screenOrientation="portrait">-->


<!--        </activity>-->


    </application>

</manifest>